.stack {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    margin: 0;
    margin-left: -10px;
}

.stackContainer__h3 {
    margin: 0;
    margin-bottom: 12px;
    font-size: 2rem;
    font-weight: 800;
    color: var(--color-letter-title);
}

.stack__iconContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 10px;
}

    .stack__icon {
        width: 50px;
        margin: 5px;
    }

    .stack__iconContainer span {
        font-size: 0.8rem;
    }