.stack {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    /* justify-content: space-between; */
    /* align-items: space-around; */
    /* width: 100%; */
    margin: 0;
    margin-left: -10px;
}