.home {
    padding: 40px 20px 40px 20px;
    background-color: red;
    /* Image instead of background */
}

.home__titleDiv {
    background-color: #f5f5db70;
    margin: 0px 20px 0px 20px;
    padding: 0px 0px 5px 0px;
}

    .home__titleDiv h1 {
        margin: 0px;
        font-size: 4rem;
        line-height: 0.8;
        font-family: Agbalumo;
        color: var(--color-letter-title);
    }

    .home__titleDiv h2 {
        margin: 0px;
        font-size: 1.6rem;
        line-height: 1.5;
        text-align: left;
        font-weight: 800;
    }