section {
    background-color: aquamarine;
    padding: 40px 20px 40px 20px;
}

.project h2 {
    margin: 0px;
    font-size: 3rem;
    font-weight: 800;
    color: var(--color-letter-title);
}

.projectDiv {
    display: grid;
    grid-template-columns: 372px;
    grid-template-rows: 512px;
    grid-auto-rows: 512px;
    gap: 80px;
}

    .project__card {
        background-color: green;
    }