.project {
    background-color: transparent;
    padding: 0px 0px 40px 0px;
}

.project__sectionTitle {
    padding-left: var(--padding-left);
    margin: 0px;
    margin-bottom: 24px;
    font-size: 3rem;
    font-weight: 800;
    color: var(--color-letter-title);
}

.project__div {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 512px;
    grid-auto-rows: 512px;
    gap: 80px;
}