.project {
    background-color: transparent;
    padding: 0px 0px 40px 0px;
}

.project__sectionTitle {
    padding-left: var(--padding-left);
    margin: 0px;
    margin-bottom: 24px;
    font-size: 3rem;
    font-weight: 800;
    color: var(--color-letter-title);
}

.project__div {
    display: grid;
    grid-auto-rows: minmax(512px, 1fr);
    grid-template-columns: 100%;
    gap: 80px;
}

/* Desktop*/
@media (min-width: 1025px) {
    .project__div {
        display: grid;
        grid-auto-rows: 100vh;
        grid-template-columns: 100%;
        gap: 0px;
    }

    .project {
        background-color: transparent;
        padding: 48px 0px 0px 0px;
    }
}