.expandbutton {
    background-color: transparent;
    border: none;
    cursor: pointer;

    padding: 8px;
    border: 2px solid var(--color-letter-red);
    border-radius: 8px;

    transition: background-color .6s;

    text-decoration: none;
}

.expandbutton:hover {
    background-color: var(--main-red-600);
}

.expandbutton__a {
    text-decoration: none;
}

.expandbutton__Icon {
    width: 100px;
    height: 50px;
    filter: invert(19%) sepia(93%) saturate(6828%) hue-rotate(357deg) brightness(96%) contrast(86%);
    transition: .6s;
}

    .expandbutton:hover .expandbutton__Icon{
        filter: invert(0%) sepia(100%) saturate(21%) hue-rotate(303deg) brightness(102%) contrast(104%);
    }