.aboutMe {
    position: relative;
    min-height: 100vh;
    background-color: transparent;

    padding-top: 30vh;
    display: flex;
    align-items: flex-end;
    margin-bottom: 48px;
}

.aboutMe__background {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: -5;

    background: 
        url('../../assets/images/curiosity-mobile.jpg') left top / contain no-repeat,
        linear-gradient(#000, #222) left;
    background-attachment: fixed;
    background-size: cover;
}

.aboutMe__container {
    background: linear-gradient(var(--dark-bg-trans), var(--dark-bg) 80%);
    /* background-color: var(--dark-bg); */
}

.aboutMe__description {
    border-top: 3px solid var(--main-red-600);
    padding: 48px 20px 48px var(--padding-left);
    width: 100%;
    height: 50%;

    background: linear-gradient(var(--dark-bg-trans), var(--dark-bg) 70%);

    display: flex;
    flex-direction: column;
}

    .aboutMe__description h2 {
        margin: 0;
        margin-bottom: 24px;

        font-size: 3.5rem;
        font-weight: 800;
        color: var(--color-letter-title);
    }

    .aboutMe__description p {
        margin: 0;
        font-size: 1rem;
    }

    .aboutMe__icons {
        margin-top: 12px;
    }

.aboutMe__Stack {
    padding: 0px 20px 40px var(--padding-left);
    background: var(--dark-bg);
}
/* .aboutMe__buttonContainer {
    align-self: center;
} */

/* Desktop*/
@media (min-width: 1025px) {
    .aboutMe__background {
        background: 
            url('../../assets/images/curiosity-desktop.jpg') left top / contain no-repeat,
            linear-gradient(#000, #222) left;
        background-attachment: fixed;
        background-size: cover;
    }
    .aboutMe__container {
        background: none;
        /* background-color: var(--dark-bg); */
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .aboutMe__background {
        background: 
            url('../../assets/images/curiosity-tablet.jpg') left top / contain no-repeat,
            linear-gradient(#000, #222) left;
        background-attachment: fixed;
        background-size: cover;
    }
}