header {
    width: 100%;
    padding: 10px;
    position: sticky;
    top: 0;

    background-color: white;
}

.navList {
    margin: 0;
    padding: 0;

    display: flex;
    gap: 1rem;
    justify-content: center;
}

.navList li {
    list-style: none;
}

.navList a {
    color: var(--color-letter-normal);
    text-decoration: none;
    font-size: 1.1rem;
}

.navList a:hover {
    background-color: #45567d;
}