.aboutMe {
    padding: 20px 20px 50px 20px;
    background-color: #f5f5db99;
    /* Image instead of background */
}

    .aboutMe__description h2 {
        margin: 0;
        font-size: 3.5rem;
        font-weight: 800;
    }

    .aboutMe__description p {
        margin: 0;
    }

    .aboutMe__icons {
        text-align: right;
    }