.contact {
    position: relative;
    height: calc(100vh - 13vh); /* 100 - fotter height*/
    background: transparent;

    padding-top: 30vh;

    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    justify-content: flex-end;
}

.contact__background {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: -5;

    background: 
        url('../../assets/images/city-mobile.jpg') left top / contain no-repeat,
        linear-gradient(#000, #222) left;
    background-attachment: fixed;
    background-size: cover;

    box-shadow: inset 0 5px 10px 0 rgba(0, 0, 0, 0.8);
}

.contact__container {
    padding: 48px 20px 0px 20px;
    /* height: 100%; */
    background-color: var(--dark-bg);
    background: linear-gradient(var(--dark-bg-trans), var(--dark-bg) 70%);
}

    .contact-h2 {
        margin: 0;
        margin-bottom: 24px;

        font-size: 3.5rem;
        font-weight: 800;
        color: var(--color-letter-title);
    }

    .contact-p {
        margin: 0;
        margin-bottom: 12px;
        font-size: 1rem;
    }

/* Desktop*/
@media (min-width: 1025px) {
    .contact__background {
    background: 
        url('../../assets/images/city-desktop.jpg') left top / contain no-repeat,
        linear-gradient(#000, #222) left;
    background-attachment: fixed;
    background-size: cover;
    }

    .contact__container {
        background: linear-gradient(var(--dark-bg-trans), var(--dark-bg) 70%);
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .contact__background {
        background: 
            url('../../assets/images/city-desktop.jpg') left top / contain no-repeat,
            linear-gradient(#000, #222) left;
        background-attachment: fixed;
        background-size: cover;
    }

    .contact__container {
        padding-top: 24px;
        background: linear-gradient(var(--dark-bg-trans), var(--dark-bg) 70%);
    }
}