.contact {
    height: 90vh;
    padding: 48px 20px 0px 20px;
}

.contact h2 {
    margin: 0;
    margin-bottom: 24px;

    font-size: 3.5rem;
    font-weight: 800;
    color: var(--color-letter-title);
}