@font-face {
  font-family: Nunito;
  src: url(./assets/fonts/Nunito/Nunito-VariableFont-wght.ttf);
}

@font-face {
  font-family: Agbalumo;
  src: url(./assets/fonts/Agbalumo/Agbalumo-Regular.ttf);
}

:root {
  font-family: Nunito, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  --color-letter-title: #FFF;
  --color-letter-normal: rgba(255, 255, 255, 0.64);
  /* --color-letter-normal: #a5a5a5; */

  --main-red: #e5201d;
  --main-green: #1de520;
  --main-blue: #1f4ae5;

  --smooth-red: #f6afad;

  --dark-bg: #141219;
  --dark-bg-trans: rgba(20, 18, 25, 0.7);

  --padding-left: 20px;
  --padding-right: 20px;

  color: var(--color-letter-normal)
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* background-color: #1a1a2d; */
  /* background-color: var(--dark-bg); */
}

*, *:before, *:after {
	box-sizing: inherit;
}

p {
  font-size: 1.5rem;
}

body {
  background-color: var(--dark-bg);
}

.custom-scroll {
  scroll-behavior: auto; /* or unset, depending on your needs */
}

.color-red {
  color: var(--main-red);
}

.color-green {
  color: var(--main-green);
}

.color-blue {
  color: var(--main-blue);
}

/* -------------------------- */
/* ------- RESPONSIVE ------- */
/* a11y */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/* Desktop*/
@media (min-width: 1025px) {
  :root {
    --padding-left: 10%;
    --padding-right: 10%;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  :root {
    --padding-left: 40px;
    --padding-right: 40px;
  }
}