@font-face {
  font-family: Nunito;
  src: url(./assets/fonts/Nunito/Nunito-VariableFont_wght.ttf);
}

@font-face {
  font-family: Agbalumo;
  src: url(./assets/fonts/Agbalumo/Agbalumo-Regular.ttf);
}

:root {
  font-family: Nunito, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  --color-letter-title: #FFFFFF;
  --color-letter-normal: #FFFFFF;
  --color-letter-red: #e5201d;

  --main-red-400: #ff6e6c; /* <-- */
  --main-red-500: #f83e3b;
  --main-red-600: #e5201d;
  --main-red-700: #c11614;

  --hover-gradient: linear-gradient(var(--main-red-500), var(--main-red-700));
  

  --dark-bg: #141219;
  --dark-bg-800: #3f3953;
  
  --dark-bg-trans: rgba(20, 18, 25, 0.7);

  /* --dark-bg-gradient: linear-gradient(var(--dark-bg-trans), var(--dark-bg) 70%); */

  color: var(--color-letter-normal)
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* background-color: #1a1a2d; */
  /* background-color: var(--dark-bg); */
}

*, *:before, *:after {
	box-sizing: inherit;
}

p {
  font-size: 1.5rem;
}

.color-red {
  color: var(--main-red-600);
}

/* body {
  width: 100vw;
  height: auto;
} */