@font-face {
  font-family: Nunito;
  src: url(./assets/fonts/Nunito/Nunito-VariableFont_wght.ttf);
}

@font-face {
  font-family: Agbalumo;
  src: url(./assets/fonts/Agbalumo/Agbalumo-Regular.ttf);
}

:root {
  font-family: Nunito, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

p {
  font-size: 1.5rem;
}